{%comment%}
{%- if settings.toolbar_bottom_selected == 'toolbar_style_1' or settings.toolbar_bottom_selected == 'toolbar_style_2' -%}
{%- assign classtoolbar = 'has-toolbar' -%}
{%-endif-%}
{%endcomment%}

<footer class="mainFooter  {{classtoolbar }}">
  <div class="footer-background lazyload"></div>
	<div class="footer-container">
		<div class="footer-expand-collapsed ">
			<div class="container ft-top">
				<div class="row justify-content-spacebetween">
					{% if settings.footer_about_show %}
					<div class="col-lg-3 col-md-12 col-12 widget-footer widget-about">
						<div class="content-footer block-collapse row">
							<div class="col-lg-12 col-md-12 col-12">
                {% if settings.use_logo_ft %}
								<div class="ft-logo">
									<a href="{{shop.url}}"  itemprop="url">
										<img itemprop="logo" src="{{ 'logo-footer.png' | asset_url}}" alt="{{ shop.name }}" class="img-responsive logoimg lazyload"/>
									</a>	
								</div>
                {% endif %}
								<div class="address-footer">
									<ul>
										{%- if settings.footer-address != empty -%}<li class="contact-1">{{settings.footer-address}}</li>{%- endif -%}
										{%- if settings.footer-email != empty -%}<li class="contact-2">{{settings.footer-email}}</li>{%- endif -%}
										{%- if settings.footer-tell != empty -%}<li class="contact-3">{{settings.footer-tell}}</li>{%- endif -%}
									</ul>
								</div>
								{% if settings.footer_logobct_show %}
								<div class="logo-footer">
									<a href="{{settings.footer_logobct_link}}" target="_blank" rel="noreferrer">
										<img class="lazyload" data-src="{{'footer_logobct_img.png' | asset_url  }}" 
												 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
												 alt="{{settings.footer_logobct_alt}}" >
									</a>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}
					{% if settings.footer_linklist1_show %}
					<div class="col-lg-3 col-md-12 col-12 widget-footer footer-link">
						<h4 class="title-footer">{{settings.footer_linklist1_title}}</h4>
						<div class="content-footer block-collapse">				
							<ul class="footerNav-link">
								{%for link in linklists[settings.footer_linklist1_menu].links%}
								<li class="item">
									<a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
								</li>
								{%endfor%}	
							</ul>		
						</div>
					</div>
					{% endif %}
					{% if settings.footer_linklist2_show %}
					<div class="col-lg-3 col-md-12 col-12 widget-footer footer-link">
						<h4 class="title-footer">{{settings.footer_linklist2_title}}</h4>
						<div class="content-footer block-collapse">				
							<ul class="footerNav-link">
								{%for link in linklists[settings.footer_linklist2_menu].links%}
								<li class="item">
									<a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
								</li>
								{%endfor%}	
							</ul>			
						</div>
					</div>
					{% endif %}
      		{% if settings.gallery_show %}
					<div class="col-lg-3 col-md-12 col-12 widget-footer">
						<h4 class="title-footer">{{settings.gallery_footer_title}}</h4>
						<div class="content-footer block-collapse">	
							<div class="footer-gallery">
								<ul class="gallery-icons">
									{%- for i in (1..6) -%}
									{%- capture show_gallery -%}gallery_{{i}}_show{%- endcapture -%}
									{%- capture icon_gallery -%}gallery_{{i}}_img.png{%- endcapture -%}
									{%- capture alt_gallery -%}gallery_{{i}}_alt{%- endcapture -%}
									{%- if settings[show_gallery] -%}
									<li><img class="lazyload" data-src="{{ icon_gallery | asset_url }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="{{settings[alt_gallery]}}" title="{{settings[alt_gallery]}}"></li>
									{%- endif -%}
									{%- endfor -%}
								</ul>
							</div>	
							
						</div>
	
					</div>
          {% endif %}
				
				</div>
			</div>
      <div class="footer-bottom">
  			<div class="container">
          <div class="footer-copyright-social">	
    			{%if settings.footer_copyright_show%}
    			<div class="footer-copyright">
            {%if settings.footer_copyright %}
            <p>{{settings.footer_copyright}}</p>
            {%else%}
            <p>Copyright © {{ "now" | date: "%Y" }} <a href="{{ shop.url }}"> {{ shop.name }}</a>, Inc. All Rights Reserved</p>
            {%endif%}
    			</div>
    			{%endif%}
          {% if settings.social_footer_show %}
          <div class="content-footer">	
            <ul class="footerNav-social">
              {%-if settings.social_link_facebook != blank -%}<li><a href="{{settings.social_link_facebook}}" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>	{%-endif-%}
                {%-if settings.social_link_youtube != blank -%}<li><a href="{{settings.social_link_youtube}}" target="_blank" rel="noopener" title="Youtube" aria-label="Youtube"><i class="fa fa-youtube-play"></i></a></li>	{%-endif-%}
                {%-if settings.social_link_instagram != blank -%}<li><a href="{{settings.social_link_instagram}}" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>	{%-endif-%}
                {%-if settings.social_link_tiktok != blank -%}<li class="social-svg"><a href="{{settings.social_link_tiktok}}" target="_blank" rel="noopener" title="Tiktok" aria-label="Tiktok"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48"><path d="M 11.5 6 C 8.4802259 6 6 8.4802259 6 11.5 L 6 36.5 C 6 39.519774 8.4802259 42 11.5 42 L 36.5 42 C 39.519774 42 42 39.519774 42 36.5 L 42 11.5 C 42 8.4802259 39.519774 6 36.5 6 L 11.5 6 z M 11.5 9 L 36.5 9 C 37.898226 9 39 10.101774 39 11.5 L 39 36.5 C 39 37.898226 37.898226 39 36.5 39 L 11.5 39 C 10.101774 39 9 37.898226 9 36.5 L 9 11.5 C 9 10.101774 10.101774 9 11.5 9 z M 26.435547 13.023438 A 1.50015 1.50015 0 0 0 25 14.5 L 25 28 C 25 30.227598 23.227598 32 21 32 C 18.772402 32 17 30.227598 17 28 C 17 25.772402 18.772402 24 21 24 A 1.50015 1.50015 0 1 0 21 21 C 17.151598 21 14 24.151598 14 28 C 14 31.848402 17.151598 35 21 35 C 24.848402 35 28 31.848402 28 28 L 28 20.335938 C 29.268121 21.316987 30.78243 22 32.5 22 A 1.50015 1.50015 0 1 0 32.5 19 C 29.996501 19 28 17.003499 28 14.5 A 1.50015 1.50015 0 0 0 26.435547 13.023438 z"></path></svg></a></li>	{%-endif-%}
                {%-if settings.social_link_shopee != blank -%}<li class="social-svg"><a href="{{settings.social_link_shopee}}" target="_blank" rel="noopener" title="Shopee" aria-label="Shopee"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48"><path d="M 24 1 C 19.015304 1 15.187203 5.491076 14.589844 11 L 5.5917969 11 A 1.50015 1.50015 0 0 0 4.09375 12.587891 L 5.7773438 41.234375 A 1.50015 1.50015 0 0 0 5.7773438 41.236328 C 5.901433 43.336252 7.6680925 45 9.7714844 45 L 38.228516 45 C 40.332664 45 42.096549 43.335805 42.220703 41.236328 A 1.50015 1.50015 0 0 0 42.220703 41.234375 L 43.90625 12.587891 A 1.50015 1.50015 0 0 0 42.408203 11 L 33.410156 11 C 32.812797 5.491076 28.984696 1 24 1 z M 24 4 C 27.044271 4 29.834574 6.9017187 30.392578 11 L 17.607422 11 C 18.165426 6.9017187 20.955729 4 24 4 z M 7.1816406 14 L 40.818359 14 L 39.226562 41.058594 C 39.194717 41.597117 38.768367 42 38.228516 42 L 9.7714844 42 C 9.2308762 42 8.8033952 41.598623 8.7714844 41.058594 L 7.1816406 14 z M 24.074219 17.011719 C 20.135219 17.011719 17.164063 19.515937 17.164062 22.835938 C 17.164062 26.625937 20.635828 27.892109 23.423828 28.912109 C 26.744828 30.126109 28.308594 30.929062 28.308594 33.039062 C 28.308594 34.694063 26.349453 36.041016 23.939453 36.041016 C 21.113453 36.041016 18.640234 33.938969 18.615234 33.917969 L 18.490234 33.802734 C 18.397234 33.717734 18.277344 33.671875 18.152344 33.671875 C 18.133344 33.671875 18.11375 33.671828 18.09375 33.673828 C 17.94975 33.690828 17.819281 33.770625 17.738281 33.890625 L 16.632812 35.519531 C 16.487813 35.733531 16.529469 36.0235 16.730469 36.1875 L 16.84375 36.279297 C 17.62975 36.916297 20.4575 38.988281 23.9375 38.988281 C 28.0415 38.988281 31.257813 36.376062 31.257812 33.039062 C 31.259813 28.637063 27.477453 27.254531 24.439453 26.144531 C 21.498453 25.069531 20.113281 24.392938 20.113281 22.835938 C 20.113281 21.169937 21.778219 19.960938 24.074219 19.960938 C 25.743219 19.960938 27.216312 20.620672 27.945312 21.013672 C 28.062313 21.076672 28.414281 21.287875 28.613281 21.421875 L 28.751953 21.513672 C 28.834953 21.569672 28.931297 21.597656 29.029297 21.597656 C 29.065297 21.597656 29.100719 21.594891 29.136719 21.587891 C 29.269719 21.558891 29.384078 21.475375 29.455078 21.359375 L 30.466797 19.714844 C 30.608797 19.484844 30.540453 19.181203 30.314453 19.033203 L 30.148438 18.925781 C 29.299437 18.353781 26.997219 17.011719 24.074219 17.011719 z"></path></svg></a></li>	{%-endif-%}
                {%-if settings.social_link_lazada != blank -%}<li class="social-svg"><a href="{{settings.social_link_lazada}}" target="_blank" rel="noopener" title="Lazada" aria-label="Lazada"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 100 100"><path d="M 25.992188 17.001953 C 25.605279 17.001953 25.224109 17.108194 24.890625 17.314453 L 8.4648438 27.421875 C 7.5534844 27.982137 7 28.976035 7 30.044922 L 7 59.128906 C 7 60.190844 7.552998 61.183824 8.4550781 61.744141 L 48.417969 86.548828 C 48.749873 86.75509 49.118262 86.888512 49.5 86.953125 L 49.5 87 L 50 87 L 50.5 87 L 50.5 86.953125 C 50.881738 86.888512 51.250127 86.75509 51.582031 86.548828 L 91.544922 61.744141 C 92.447002 61.183824 92.998047 60.190844 92.998047 59.128906 L 92.998047 30.042969 C 92.998047 28.974082 92.444562 27.982137 91.533203 27.421875 L 75.109375 17.314453 C 74.777357 17.109101 74.394819 17.001953 74.007812 17.001953 C 73.617447 17.001953 73.23202 17.111022 72.900391 17.316406 L 72.898438 17.316406 L 57.544922 26.847656 C 55.276867 28.255608 52.667174 28.998047 49.998047 28.998047 C 47.32892 28.998047 44.72118 28.255608 42.453125 26.847656 L 27.099609 17.316406 C 26.766378 17.109573 26.382552 17.001953 25.992188 17.001953 z M 25.992188 19.001953 C 26.011817 19.001953 26.030152 19.008448 26.044922 19.017578 L 41.398438 28.546875 C 43.982382 30.150924 46.957174 30.998047 49.998047 30.998047 C 53.03892 30.998047 56.015664 30.150924 58.599609 28.546875 L 73.953125 19.017578 C 73.973495 19.004958 73.988173 19.001953 74.007812 19.001953 C 74.028802 19.001953 74.042661 19.005052 74.056641 19.013672 L 74.058594 19.015625 L 90.486328 29.125 C 90.522141 29.147016 90.551166 29.178616 90.583984 29.205078 L 50 51.429688 L 9.4160156 29.205078 C 9.4488802 29.17857 9.4778589 29.147016 9.5136719 29.125 L 25.941406 19.015625 C 25.953926 19.007925 25.973098 19.001953 25.992188 19.001953 z M 74.013672 22.949219 C 73.557725 22.950146 73.103028 23.075242 72.701172 23.324219 L 67.236328 26.716797 A 0.50005 0.50005 0 1 0 67.763672 27.566406 L 73.226562 24.175781 C 73.710851 23.875734 74.320245 23.873693 74.804688 24.171875 L 84.154297 29.925781 A 0.5002983 0.5002983 0 1 0 84.679688 29.074219 L 75.328125 23.320312 C 74.925346 23.072402 74.469619 22.948292 74.013672 22.949219 z M 65.318359 27.996094 A 0.50005 0.50005 0 0 0 65.048828 28.074219 L 63.4375 29.074219 A 0.50081172 0.50081172 0 0 0 63.964844 29.925781 L 65.576172 28.925781 A 0.50005 0.50005 0 0 0 65.318359 27.996094 z M 9 30.119141 L 49.5 52.296875 L 49.5 84.861328 C 49.491356 84.856307 49.481172 84.854901 49.472656 84.849609 L 9.5097656 60.044922 C 9.1818457 59.841238 9 59.514969 9 59.128906 L 9 30.119141 z M 90.998047 30.119141 L 90.998047 59.128906 C 90.998047 59.514969 90.818154 59.841238 90.490234 60.044922 L 50.527344 84.849609 C 50.518828 84.854901 50.508644 84.856307 50.5 84.861328 L 50.5 52.296875 L 90.998047 30.119141 z M 12.492188 34.992188 A 0.50005 0.50005 0 0 0 12 35.5 L 12 56.669922 C 12 57.533887 12.447481 58.33724 13.181641 58.792969 L 29.236328 68.757812 A 0.50005 0.50005 0 1 0 29.763672 67.908203 L 13.708984 57.943359 C 13.267144 57.669088 13 57.189957 13 56.669922 L 13 35.5 A 0.50005 0.50005 0 0 0 12.492188 34.992188 z M 36.478516 72.173828 A 0.50005 0.50005 0 0 0 36.236328 73.103516 L 40.236328 75.585938 A 0.50005 0.50005 0 1 0 40.763672 74.736328 L 36.763672 72.253906 A 0.50005 0.50005 0 0 0 36.478516 72.173828 z M 43.478516 76.519531 A 0.50005 0.50005 0 0 0 43.236328 77.447266 L 44.236328 78.068359 A 0.50005 0.50005 0 1 0 44.763672 77.21875 L 43.763672 76.597656 A 0.50005 0.50005 0 0 0 43.478516 76.519531 z"></path></svg></a></li>	{%-endif-%}
            </ul>
          </div>
          {% endif %}
          </div>
        </div>
      </div>
		</div>
	</div>
</footer>


