<div class="sitenav-wrapper sitenav-left sitenav-menu">
	<div class="sitenav-inner">
		<div class="sitenav-header">
			<p class="sitenav-header__title">Danh mục</p>
			<a name="button-close" class="sitenav-header__btn btn-sitenav-close">
				<svg viewBox="0 0 19 19" role="presentation"><path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd"></path></svg>
			</a>
		</div>
		<div class="sitenav-content">
			<div class="menu-mobile--wrap">
				<ul class="menuList-links">
					{% for link in linklists[settings.mainmenu_link].links limit: 10 %}
					{% if linklists[link.handle].links == empty %}				
					<li class="{% if link.active %} active {% endif %}"><a href="{{link.url}}" title="{{link.title}}"><span>{{link.title}}</span></a></li>
					{% else %}
					<li class="has-submenu level0 {% if link.active %} active {% endif %}">
						<a href="{{ link.url }}" title="{{link.title}}">{{ link.title }} <span class="icon-plus-submenu plus-nClick1"></span></a>
						<ul class="submenu-links">
							{% for link2 in linklists[link.handle].links %}
							{% if linklists[link2.handle].links == empty %}
							<li><a href="{{ link2.url }}" title="{{link2.title}}">{{ link2.title }}</a></li>
							{% else %}
							<li class="has-submenu level1">
								<a href="{{ link2.url }}">{{ link2.title }}  <span class="icon-plus-submenu plus-nClick2"></span></a>
								<ul class="submenu-links" >
									{% for link3 in linklists[link2.handle].links %}	
									{% if linklists[link3.handle].links == empty %}
									<li><a href="{{ link3.url }}" title="{{link3.title}}">{{ link3.title }}</a></li>
									{% else %}
									<li class="has-submenu level2">
										<a href="{{ link3.url }}">{{ link3.title }}  <span class="icon-plus-submenu plus-nClick3"></span></a>
										<ul class="submenu-links" >
											{% for link4 in linklists[link3.handle].links %}						
											<li class=""><a href="{{ link4.url }}" title="{{link4.title}}" >{{ link4.title }}</a></li>
											{% endfor %}
										</ul>
									</li>
									{% endif %}
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
					{% endif %}
					{% endfor%}
				</ul>	
			</div>
		</div>
	</div>
	<div class="sidebar-overlay"></div>
</div>