{% assign defaultAddress = shop.addresses | first %}
{% assign sortAddress = shop.addresses | sort:"id" %}
{% assign sortCheck = sortAddress | first %}
<div class="header-action_text ">
	<a class="header-action__link header-action_clicked" href="#" id="site-locale-handle"
		 aria-label="Khu vực mua hàng" title="Khu vực mua hàng">
		<span class="box-icon">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 368.666 368.666" style="enable-background:new 0 0 368.666 368.666;" xml:space="preserve">
				<g id="XMLID_2_">
					<g>
						<g>
							<path d="M184.333,0C102.01,0,35.036,66.974,35.036,149.297c0,33.969,11.132,65.96,32.193,92.515
											 c27.27,34.383,106.572,116.021,109.934,119.479l7.169,7.375l7.17-7.374c3.364-3.46,82.69-85.116,109.964-119.51
											 c21.042-26.534,32.164-58.514,32.164-92.485C333.63,66.974,266.656,0,184.333,0z M285.795,229.355
											 c-21.956,27.687-80.92,89.278-101.462,110.581c-20.54-21.302-79.483-82.875-101.434-110.552
											 c-18.228-22.984-27.863-50.677-27.863-80.087C55.036,78.002,113.038,20,184.333,20c71.294,0,129.297,58.002,129.296,129.297
											 C313.629,178.709,304.004,206.393,285.795,229.355z"/>
							<path d="M184.333,59.265c-48.73,0-88.374,39.644-88.374,88.374c0,48.73,39.645,88.374,88.374,88.374s88.374-39.645,88.374-88.374
											 S233.063,59.265,184.333,59.265z M184.333,216.013c-37.702,0-68.374-30.673-68.374-68.374c0-37.702,30.673-68.374,68.374-68.374
											 s68.373,30.673,68.374,68.374C252.707,185.341,222.035,216.013,184.333,216.013z"/>
						</g>
					</g>
				</g>
			</svg>
			<span class="box-icon--close">
				<svg  viewBox="0 0 19 19" role="presentation"><path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z"  fill-rule="evenodd"></path></svg>
			</span>
		</span>
		<span class="box-text {% unless settings.header_account_show %} nohas-account  {% endunless %}">
			<span class="txtnw">Giao hoặc đến lấy tại <i class="fa fa-angle-down" aria-hidden="true"></i></span>
			<span class="txtbl shiptoHere">
				<span class="txt-overflow ">
					<span style="opacity:0">
						{{ sortCheck.street }}, {{ sortCheck.ward_name }}, {{ sortCheck.district_name }}
					</span>
				</span>
			</span>
		</span>
	</a>
	<span class="box-triangle">
		<svg viewBox="0 0 20 9" role="presentation">
			<path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff"></path>
		</svg>
	</span>
</div>
<div class="header-action_dropdown">
	<div class="header-dropdown_content">
		<div class="sitenav-content sitenav-locate">
			<button class="btnclose" aria-label="button close">
				<svg viewBox="0 0 19 19" role="presentation"><path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd"></path></svg>
			</button>	
			<div class="sitenav-content__title">
				<p class="txt-title">Khu vực mua hàng</p>	
			</div>
			<div class="sitenav-content__block sitenav-boxscroll">
				{%- if settings.header_inventory_province -%}
				<div class="boxfilter">
					<div class="filter-select">				
						<div class="select-item">
							<label for="filter-province">Tỉnh/Thành</label>
							<div class="field-select">
								<select class="filter-province" id="filter-province">
									<option value="">- Chọn Tỉnh thành -</option>						
								</select>
							</div>
						</div>
						<div class="select-item">
							<label for="filter-district">Quận/huyện </label>
							<div class="field-select">
								<select class="filter-district" id="filter-district">			
									<option value="">- Chọn Quận huyện -</option>									
								</select>
							</div>
						</div>
					</div>
				</div>
				{%- endif -%}
				<div class="boxaddress chooseLocation" >
					Giao hoặc đến lấy tại:
					<span data-id="{{ sortCheck.id }}" data-province="{{ sortCheck.province_name }}">{{ sortCheck.street }}, {{ sortCheck.ward_name }}, {{ sortCheck.district_name }}</span>
				</div>
				<div class="boxprovince">					
					<div class="textprov">Chọn cửa hàng gần bạn nhất để tối ưu chi phí giao hàng. Hoặc đến lấy hàng</div>
					<ul class="listprov">
						{%- for address in sortAddress -%}
						{%- if address.is_shipping_add -%}
							{%- if address.location_name contains "(Hide)" -%}
							{%- else -%}
							<li data-id="{{ address.id }}" data-district="{{ address.district_name }}" data-province="{{ address.province_name }}">
								<span class="icmap">
									<svg fill="{{settings.shop_main_color}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22 C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34 C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180 C406.1,207.121,398.689,233.688,384.866,256.818z"/> </g> </g> <g> <g> <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C316.1,212.683,289.784,240.2,256,240.2z"/> </g> </g></svg>
								</span>
								<span class="address-name">{{address.location_name}}</span><span style="display:none"> -</span>
								{{ address.street }}, {{ address.ward_name }}, {{ address.district_name }}						
							</li>
							{%- endif -%}
						{%- endif -%}
						{%- endfor -%}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

