<div class="site_account sitenav-account {% if customer %} sitenav-account_info {% endif %}" id="siteNav-account" >
	<div class="site_account_panel_list">
		{%- if shop.customer_accounts_enabled -%}
		{%- if customer -%}
		<div class="site_account_info">
				<div class="site_account_header">
				<h2 class="site_account_title size-small heading">Thông tin tài khoản</h2>
			</div>
			<div class="site_account_inner">
				<ul>
					<li class="user-name"><span>{{customer.last_name}} {{customer.first_name}} </span></li>
					<li><a href="/account">Tài khoản của tôi</a></li>
					<li><a href="/account/addresses">Danh sách địa chỉ</a></li>
					<li><a href="/account/logout">Đăng xuất</a></li>
				</ul>
			</div>
		</div>
		
		{%- else -%}
		<div id="header-login-panel" class="site_account_panel site_account_default is-selected">
			<div class="site_account_header">
				<h2 class="site_account_title heading">Đăng nhập tài khoản</h2>
				<p class="site_account_legend">Nhập email và mật khẩu của bạn:</p>
			</div>
			<div class="site_account_inner">
				{% capture formLoginHeader %}
				{% form 'customer_login' %}
				{{ form.errors | default_errors }}
				<div class="form__input-wrapper form__input-wrapper--labelled">
					<input type="email" id="login-customer[email]" class="form__field form__field--text" name="customer[email]" required="required" >
					<label for="login-customer[email]" class="form__floating-label">Email</label>
				</div>
				<div class="form__input-wrapper form__input-wrapper--labelled">
					{% if form.password_needed %}
					<input type="password" id="login-customer[password]" class="form__field form__field--text" name="customer[password]" required="required" autocomplete="current-password">
					<label for="login-customer[password]" class="form__floating-label">Mật khẩu</label>						
					{% endif %}				
					<div class="sitebox-recaptcha">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>
				</div>
				<button type="submit" class="form__submit button dark" id="form_submit-login">Đăng nhập</button>
				{% endform %}
				{% endcapture %}
				{{ formLoginHeader | replace:'script','noscript' }}
				<div class="site_account_secondary-action">
					<p>Khách hàng mới? 
						<a class="link" href="/account/register">Tạo tài khoản</a>
					</p>
					<p>Quên mật khẩu? 
						<button aria-controls="header-recover-panel" class="js-link link">Khôi phục mật khẩu</button>
					</p>
				</div>
			</div>
		</div>
		<div id="header-recover-panel" class="site_account_panel site_account_sliding">
			<div class="site_account_header">
				<h2 class="site_account_title heading">Khôi phục mật khẩu</h2>
				<p class="site_account_legend">Nhập email của bạn:</p>
			</div>
			<div class="site_account_inner">
				{% capture formRecoverHeader %}
				{% form 'recover_customer_password' %}
				{{ form.errors | default_errors }}
				<div class="form__input-wrapper form__input-wrapper--labelled">
					<input type="email" id="recover-customer[recover_email]" class="form__field form__field--text" name="email" required="required">
					<label for="recover-customer[recover_email]" class="form__floating-label">Email</label>
					<div class="sitebox-recaptcha">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>				
				</div>
				<button type="submit" class="form__submit button dark" id="form_submit-recover">Khôi phục</button>
				{%- endform-%}
				{% endcapture %}
				{{ formRecoverHeader | replace:'script','noscript' }}
				<div class="site_account_secondary-action">
					<p>Bạn đã nhớ mật khẩu? 
						<button aria-controls="header-login-panel" class="js-link link">Trở về đăng nhập</button>
					</p>
				</div>
			</div>
		</div>
		{%- endif -%}
		{%- endif -%}
	</div>
</div>
