<div class="product-block">
	<div class="proloop-image">
		<div class="pro-sale"><span>-14%</span></div>
		<a href="/adminv2/products_new" title="Tiêu đề sản phẩm {{i}}" class="image-resize">
			<img class="lazyload img-loop" src="{{ 'no_image.jpg' | asset_url }}" alt="Tiêu đề sản phẩm {{i}}"  />
		</a>
	</div>					
	<div class="proloop-detail">
		<h3>
			<a href="/adminv2/products_new" title="Tiêu đề sản phẩm {{i}}">Tiêu đề sản phẩm {{i}}</a>
		</h3>
		<p class="proloop--price">
			<span class="price">3,150,000₫</span>				
			<span class="price-del">3,650,000₫</span>		
		</p>
	</div>
</div>
