{%- if settings.popup_contact_show -%}
<div id="popup-contact" class="modal fade modal-popupContact {{settings.popup_contact_select}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		{%- if settings.popup_contact_select == 'popupForm' -%}
		<div class="modal-content lazyload">
			<div class="modal-wrapper-contact">
				<button type="button" class="close close-popup-contact" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
							<g>
								<path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892    L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999    c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998    c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z" />
							</g>
						</svg>
					</span>
				</button>
				<h3 class="title-popup-contact">{{ settings.popup_contact_title }}</h3>
				<div class="message-popup-contact">
					<div class="title-adv-popup-contact">{{ settings.popup_contact_content }}</div>
					<ul class="list-adv-popup-contact">
						{% for i in (1..3) %}
						{% capture text %}popup_contact_description_{{ i }}{% endcapture %}
						{% unless settings[text] == '' %}
						<li>{{ settings[text] }}</li>
						{% endunless %}
						{% endfor %}
					</ul>
				</div>
				<div class="popup-form-customer">
					{%- capture formContactPopup -%}
					{%- form 'customer' -%}
					{%- if form.posted_successfully? -%}<p class="d-none newsletter-success success feedback accent-text">Cảm ơn bạn đã đăng ký email theo dõi!</p>{% endif %}
					{%- if form.errors -%}
					<div id="error_customer" class="d-none error-box newsletter-error">
						{%- for field in form.errors -%}
						{{ field }} {{ form.errors.messages[field] }}
						{%- endfor -%} 
					</div>
					{%- endif -%}
					<div class="input-group">
						<input type="hidden" id="contact_tags" name="contact[tags]" value="Đăng ký nhận tin">  
						<input required="" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="contact_email" name="contact[email]" class="form-control form-email-popup-contact" placeholder="Nhập email đăng ký nhận thông tin" aria-label="Đăng ký nhận thông tin" >
					</div>
					<button type="submit" class="input-group-addon button btn-reg-popup-contact">Đăng ký</button>
					<div class="sitebox-recaptcha d-none">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>
					{%- endform -%}
					{%- endcapture -%}
					{{ formContactPopup | replace: 'script','noscript'}}
					<p class="succes-popup"></p>	
				</div>
			</div>
		</div>
		{%- elsif settings.popup_contact_select == 'popupBanner' -%}
		<div class="modal-content">
			<div class="modal-wrapper-contact">			
				<button type="button" class="close close-popup-contact" aria-label="Đóng">
					<span aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
							<g>
								<path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892    L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999    c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998    c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z" />
							</g>
						</svg>
					</span>
				</button>
				<a class="linkbanner-popup-contact"  href="{{settings.popup_contact_link}}" title="{{settings.popup_contact_alt}}" aria-label="Banner">
					<img class="lazyload" data-src="{{'popup_contact_banner.jpg' | asset_url}}" alt="{{settings.popup_contact_alt}}"> 
				</a>
			</div> 
		</div>
		{%- else -%}
		<div class="modal-content">
			<div class="modal-body modal-wrapper-contact">	
				<button type="button" class="close close-popup-contact" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001"><g><path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892    L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999    c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998    c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z" /></g></svg>
					</span>
				</button>
				<img src="{{'popup_discount_bkg.jpg' | asset_url}}" alt="{{settings.popup_promotion_title}}"> 
				<div class="popup-discount">
					<h3 class="title-popup-discount">{{ settings.popup_discount_title }}</h3>
					<div class="desc-popup-discount">{{ settings.popup_discount_content }}</div>
					<div class="code-popup-discount">
						<input type="text" readonly class="discount-code" name="discount_code" aria-label="discount-code" value="{{ settings.popup_discount_code }}">
						<button class="cpi-button" data-coupon="{{ settings.popup_discount_code }}">Sao chép mã </button>
					</div>
				</div>
			</div>
		</div>
		{%- endif -%}
	</div>
</div>
{%- endif -%}
