{% if check_pro_tab %}
<!-- TAB 1-->
{% assign tab0 = tabList[0] %}
{% assign tab0Title = tab0 | split: '@@##@@' | first %}
{% assign tab0Content = tab0 | split: '@@##@@' | last %}
<!-- TAB 2-->
{% assign tab1 = tabList[1] %}
{% assign tab1Title = tab1 | split: '@@##@@' | first %}
{% assign tab1Content = tab1 | split: '@@##@@' | last %}
<!-- TAB 3-->
{% assign tab2 = tabList[2] %}
{% assign tab2Title = tab2 | split: '@@##@@' | first %}
{% assign tab2Content = tab2 | split: '@@##@@' | last %}
<!-- TAB 3-->
{% assign tab3 = tabList[3] %}
{% assign tab3Title = tab3 | split: '@@##@@' | first %}
{% assign tab3Content = tab3 | split: '@@##@@' | last %}

{% endif %}

<div class="product-description {{classview}}">	
	<div class="panel-group opened">
		<div class="panel-title"><h2>THông tin sản phẩm</h2></div>							
		<div class="panel-description " style="display:block" >
			{%- assign checkDescript = product.description | strip_html -%}
			{%- if checkDescript.size != 0 -%}
			<div class="description-productdetail">	{{ product.description }}	</div>
			{%- else -%}<p>Chưa có mô tả cho sản phẩm này</p>{%- endif -%}
		</div>
	</div>
	<!-- TAB 1-->
	{% if tab0 %}
	<div class="panel-group">
		<div class="panel-title"><h2>{{ tab0Title }}</h2>	</div>							
		<div class="panel-description description-content">{{ tab0Content }}	</div>
	</div>
	{% endif %}
	<!-- TAB 2-->
	{% if tab1 %}
	<div class="panel-group">
		<div class="panel-title">	<h2>{{ tab1Title }}</h2></div>							
		<div class="panel-description description-content">	{{ tab1Content }}</div>
	</div>
	{% endif %}
	<!-- TAB 3-->
	{% if tab2 %}
	<div class="panel-group">
		<div class="panel-title"><h2>{{ tab2Title }}</h2>	</div>							
		<div class="panel-description description-content">{{ tab2Content }}</div>
	</div>
	{% endif %}
</div>

<!-- TAB 4-->
{% if tab3 %}
<div class="product-support row-mr15 ">
	<div class="container-pd15">
		<div class="content-support typeList-style">{{ tab3Content }}</div>
	</div>	
</div>
{% endif %}