{% comment %}Tình trạng hết hàng{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}  

<div class="sidebar-action-bottom {%if template contains 'product.ldp-product'%}show{%endif%}">
	<div class="container">
		<div class="action-bottom">
			<div class="product-price">
				{% unless products_price_zero %}
				<span class="pro-title">{{settings.prod_price_title}}: </span>
				<div class="pro-price">
					<div class="percent-price">
						<span class="price">{{ product.variants.first.price | money }}<span class="person">{{settings.prod_person_title}}</span></span>
						{% if product.variants.first.compare_at_price > product.price %}		
						<span class="pro-percent">-{{product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round : 0}}% Off</span>
						{%endif%}
					</div>
					{% if product.variants.first.compare_at_price > product.price %}		
					<del>{{ product.variants.first.compare_at_price | money }}<span class="person">{{settings.prod_person_title}}</span></del>
					{% endif %}
				</div>
				{% endunless%}
			</div>
			<div class="action-bottom-btn">
				<a href="#form-booking-pro" class="button">{{settings.sidebar_bottom_product_btn}}</a>
			</div>
		</div>
	</div>
</div>


