{%- assign count_color = 3 -%}
{%- assign is_color = false -%}
{%- assign downcased_option = option | downcase -%}
{%- if downcased_option contains 'màu sắc' or downcased_option contains 'màu' or downcased_option contains 'color'-%}
	{%- assign is_color = true -%}
	{%- assign classnot_color = '' -%}
{%- endif -%}

{%- assign colors = '' -%}
{%- assign vrtoption = 0 -%} 

{%- for variant in product.variants -%}	
	
	{%- assign color = variant.options[option_index] -%}
	
		{%- unless colors contains color -%}
			{%- assign colors = colors | join: ',' -%}
			{%- assign colors = colors | append: ',' | append: color -%}
			{%- assign colors = colors | split: ',' -%}

				{%- assign pic1 = '' -%}
				{%- assign valHanlde = color | handleize  -%}
				{%- for img in product.images -%}
					{%- assign srcImg = img.alt | downcase | handleize -%}
					{%- if srcImg == valHanlde -%}
							{%- assign pic1 = img.src -%}
							{%- break -%}	
					{%- endif -%}
				{%- endfor -%}

			{%- assign nameColor = variant.options[option_index] | handleize -%}
	
			{%- if is_color -%} 
        {% if count_color > vrtoption %} 
				<li class="vrt-color {% unless pic1 %}not-hover{% endunless %}" data-src="{{ pic1 | product_img_url: 'large' }}">	
					{%- if pic1 -%}
						<img class="lazyload" data-src="{{ pic1 | product_img_url: 'icon' }}" 
								 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
								 alt="{% if product.featured_image.alt.size > 0 %}{{ product.featured_image.alt | escape }}{% else%}{{product.title}}{% endif %}"/>
						{%- else -%}	
						<span class="{{ nameColor }}"></span> 
						{%- endif -%}
				</li>
				{%- endif -%}
			{%- endif -%}
      {%- assign  vrtoption =  vrtoption | plus : 1  -%} 
		{%- endunless -%}
{%- endfor -%}

{% if is_color and vrtoption > count_color %}
<li class="vrt-color color-count"><span>+{{vrtoption | minus: count_color }} </span> </li>
{% endif %}
	
{%- unless is_color -%}
{%-capture html_content_option -%}
<li class="vrt-option"><span>+{{vrtoption }} {{ product.options[option_index].name}}</span></li>
{%-endcapture-%}
{%-assign htmlVrtOption = htmlVrtOption | append: html_content_option -%} 
{%- endunless -%}
	

