{%- layout none -%}
<form action="/cart" method="post" id="cartformpage">
	<div class="cart-row">
		<div class="table-cart">
			{%- for item in cart.items -%}
			{%-unless settings.promotion_hrvapp_use-%}
			{%-if item.properties.Combo != nil-%}
			{%-assign still = true-%}
			{%-if checkUnActiveApp == ''-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=0'-%}
			{%-else-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=0'-%}
			{%-endif-%}
			{%-elsif item.properties.BuyXGetY != nil-%}
			{%-assign still = true -%}
			{%-if checkUnActiveApp == ''-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=0'-%}
			{%-else-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=0'-%}
			{%-endif-%}
			{%-else-%}
			{%-if checkUnActiveApp == ''-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=' | append: item.quantity-%}
			{%-else-%}
			{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=' | append: item.quantity-%}
			{%-endif-%}
			{%-endif-%}
			{%-endunless-%}
			{% comment %}<!-- Kiếm tra có khuyến mãi hay không -->{% endcomment %}
			{%-assign prmote_check = true-%}
			{%-if settings.promotion_hrvapp_use -%}
				{%-if item.price == 0 or item.properties.BuyXGetY != nil or item.properties.Combo != nil -%}
				{%-assign prmote_check = false-%}
				{%-endif-%}
			{%-endif-%}
			<div class="media-line-item line-item" data-line="{{forloop.index}}" data-variant-id="{{ item.variant_id }}" data-product-id="{{ item.product.id }}">
				<div class="media-left">
					<div class="item-img">
						<a href="{{ item.url }}">
							<img src="{% if item.image > 0 %} {% if item.variant.image == empty %} {{ item.image | product_img_url : 'medium'}} {% else%} {{ item.variant.image | product_img_url : 'medium'}}{% endif %}{% else %}{{'no_image.jpg' | asset_url}}{% endif %}" alt="{{ item.title }}" />
						</a>
					</div>
					{%-unless settings.promotion_hrvapp_use and item.price == 0 -%}
					<div class="item-remove">
						<a href="javascript:void(0)" onclick="HRT.Cart.removeItemCart(this,'/cart/change?line={{ forloop.index }}&quantity=0')" class="cart">Xóa</a>
					</div>
					{%-endunless-%}
				</div>
				<div class="media-right">
					<div class="item-info">
						<h3 class="item--title"><a href="{{ item.url }}">{{ item.product.title }}</a></h3>
						{% if item.product.variants.size > 1 %}				
							{%-if prmote_check-%}
							<p class="item-variant item-variant-edit cart-variant-edit"  data-edit="{{item.url}}?variant={{item.variant_id}}">
								<span>{{ item.variant.title }}</span>
							</p>
							{% else %}
							<p class="item-variant"><span>{{ item.variant.title }}</span></p>
							{%- endif -%}
						{%- endif -%}
						
						{%-if settings.promotion_hrvapp_use and item.properties.Combo != nil-%}
						<p class="item-prmote type_promote">{{item.properties.Combo | append: '' | split: '-' | last}}</p>
						{%-endif-%}
					</div>
					<div class="item-price">
						<p>
							<span>{{item.price | money }}</span>
							{% if item.product.compare_at_price > item.price  %}
							<del>{{ item.variant.compare_at_price | money }}</del>
							{% endif %}
							{%-if settings.promotion_hrvapp_use and item.properties.BuyXGetY != nil-%}
							<span class="ico-gift"><img src="{{settings.combo_icon}}" alt="icon quà tặng"></span>
							{%-endif-%}
						</p>
					</div>
				</div>
				<div class="media-total">
					<div class="item-total-price">
						<div class="price">
							<span class="line-item-total">{{ item.line_price | money }}</span>
						</div>
					</div>
					<div class="item-qty">
						{%-assign show_btn_qty = true-%}
						{%-if settings.promotion_hrvapp_use -%}
						{%-if item.price == 0 or item.properties.BuyXGetY != nil or item.properties.Combo != nil -%}
						{%-assign show_btn_qty = false-%}
						{%-endif-%}
						{%-endif-%}
						<div class="qty quantity-partent qty-click clearfix">
							{%-if show_btn_qty-%}
							<button type="button" class="qtyminus qty-btn">
								<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0"><polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon></svg>
							</button>
							{%-endif-%}
							<input type="text" size="4" name="updates[]" min="1" oriPrice="{{item.price_original}}" line="{{ forloop.index }}" productId="{{ item.product_id }}" variantId="{{ item.variant_id }}" id="updates_{{ item.variant_id }}" data-price="{{ item.price }}" value="{{ item.quantity }}" readonly  class="tc line-item-qty item-quantity" />
							{%-if show_btn_qty-%}
							<button type="button" class="qtyplus qty-btn">
								<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0"><polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon></svg>
							</button>
							{%-endif-%}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{%- if still == false-%}{%-assign checkUnActiveApp = '' -%}{%- endif -%}
		</div>
	</div>
	<div class="cart-row">
		<div class="order-noted-block">	
			<div class="container-pd15">				
				<div class="checkout-buttons clearfix">
					<label for="note" class="note-label">Ghi chú đơn hàng</label>
					<textarea class="form-control" id="note" name="note" rows="5"></textarea>
				</div>	
				<button type="submit" id="checkout" class="btn-checkout button d-none {% if cart.total_price == 0 %} disabled {% endif %}" name="checkout" value="" >Thanh toán</button>
			</div> 
		</div>
	</div>
	<div class="cart-row">
		<div class="order-invoice-block">	
			<div class="checkbox">
				<input type="hidden" name="attributes[invoice]" id="re-checkbox-bill" value='{% if cart.attributes["invoice"] == "yes" %}yes{%else%}no{% endif %}'>
				<input type="checkbox" id="checkbox-bill" value="yes" {% if cart.attributes["invoice"] == 'yes' %} checked{% endif %} name="regular-checkbox" class="regular-checkbox" />
				<label for="checkbox-bill" class="box"></label>
				<label for="checkbox-bill" class="title">Xuất hoá đơn cho đơn hàng</label>
			</div>
			{%-if cart.attributes['bill_order_company']-%}{%-assign bill_order_company = cart.attributes['bill_order_company']-%}{%-endif-%} 
			{%-if cart.attributes['bill_order_tax_code']-%}{%-assign bill_order_tax_code = cart.attributes['bill_order_tax_code']-%}{%-endif-%}
			{%-if cart.attributes['bill_email']-%}{%-assign bill_email = cart.attributes['bill_email']-%}{%-endif-%}
			{%-if cart.attributes['bill_order_address']-%}{%-assign bill_order_address = cart.attributes['bill_order_address']-%}{%-endif-%}
			<div class="bill-field">
				<div class="form-group">
					<input type="text" class="form-control val-f check_change" name="attributes[bill_order_company]" value="{{ bill_order_company }}" placeholder="Tên công ty...">
				</div>	
				<div class="form-group">
					<input type="number" pattern=".{10,}" onkeydown="return HRT.All.FilterInput(event)" onpaste="HRT.All.FilterInput(event)" class="form-control val-f val-n check_change" name="attributes[bill_order_tax_code]" value="{{ bill_order_tax_code }}" placeholder="Mã số thuế...">
				</div>
				<div class="form-group">
					<input type="email" class="form-control val-f val-mail check_change" name="attributes[bill_email]" value="{{ bill_email }}" placeholder="Email...">
				</div>
				<div class="form-group">
					<input type="text" class="form-control val-f check_change" name="attributes[bill_order_address]" value="{{ bill_order_address }}" placeholder="Địa chỉ công ty...">
				</div>
				<div class="form-btn">
					<a href="javascript:void();" class="button btndark btn-save">Lưu thông tin</a>
				</div>
			</div>
		</div>
	</div>
</form>