{%- assign checkPriTotal = false -%}
{%- assign checkFreeShip = false -%}

{%- assign valuePriMin = ''-%}
{%- assign freeShipMin = 0 -%}
{%- assign valuePriTotal =  cart.total_price | divided_by : 100 -%}

{%- if settings.cart_freeship_min != blank -%}
	{%- assign freeShipMin = settings.cart_freeship_min  | lstrip | rstrip | times: 1 -%}
	{%- assign checkFreeShip = true -%}
{%- endif-%}
{%- assign percent = valuePriTotal | times: 100 | divided_by: freeShipMin -%}

{%- if settings.cart_total_min != blank -%}
	{%- assign valuePriMin =  settings.cart_total_min | lstrip | rstrip | times: 1 -%}
	{%- if valuePriMin > valuePriTotal -%} 
		{%- assign checkPriTotal = true -%}
	{%- endif -%}
{%- endif -%}
{%- if valuePriTotal == 0 -%} {%- assign checkPriTotal = true -%} {%- endif -%}

<div id="layout-cart">
	{%- include 'breadcrumb' -%}
	<div class="wrapper-mainCart">
		<div class="content-bodyCart">
			<div class="container">
				<div class="row">			
					<div class="col-lg-8 col-md-12 col-12 contentCart-detail">
						<div class="mainCart-detail">
							{%-if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuy2get1' -%}
							<div id="hrv-promotion-buy2get1" style="display: none">
								<div class="notify-setting">
									<div class="setting-left">
										<div class="item logo">
											<img src="https://shopfront-cdn.tekoapis.com/cart/gift-filled.png" alt="cart.png"/>
										</div>
										<div class="item">
											<h4 class="header"></h4>
											<div class="content"></div>
										</div>
									</div>
									<div class="item">
										<button id="btn-buy-now">Mua ngay</button>
									</div>
								</div>
								<div class="notify-system">
									<div class="item">
										<h4 class="header"></h4>
									</div>
									<div class="item">
										<div class="content"></div>
										<ul class="list"></ul>
									</div>
								</div>
							</div>
							{%-endif-%}
							<div class="heading-cart {% if cart.item_count != 0 %}heading-row{%endif%}">
								<h1>Giỏ hàng của bạn</h1>
								{% if cart.item_count != 0 %}
								<p class="title-number-cart">Bạn đang có <strong class="count-cart">{{ cart.item_count }} sản phẩm</strong> trong giỏ hàng</p>
								{%- endif -%}
								{%- if checkFreeShip -%}			
								<div class="cart-shipping {%if valuePriTotal >= freeShipMin %}cart-shipping-free{%endif%}">
									{%- if valuePriTotal >= freeShipMin -%}
									<div class="cart-shipping__title">Bạn đã được <span class="free-ship">miễn phí vận chuyển</span></div>
									<div class="cart-shipping__bar {%if cart.item_count == 0%}d-none{%endif%}">
										<span class="shipping-bar" style="width:100%">
											<span class="icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
											</span>
										</span>
									</div>
									{%- else -%}
									<div class="cart-shipping__title">Bạn cần mua thêm <span class="price">{{ freeShipMin | minus: valuePriTotal | times: 100 | money}}</span> để được <span class="free-ship">miễn phí vận chuyển</span></div>
									<div class="cart-shipping__bar {%if cart.item_count == 0%}d-none{%endif%}">
										<span class="shipping-bar" style="width:{{percent}}%">
											<span class="icon">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
											</span>
										</span>
									</div>
									{%- endif -%}
								</div>
								{%- endif -%}
							</div>
								
							{%-assign checkUnActiveApp = ''-%}
							{%-assign still = false-%}
							{% if cart.item_count == 0 %}			
							<!--<div class="expanded-message">Giỏ hàng của bạn đang trống</div>	-->
							<div class="expanded-content mb-5">
								<div class="expanded-info">
									<div class="info-image">
										<img data-src="{{ 'cart_banner_image.jpg' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt="Giỏ hàng của bạn đang trống"/>
									</div>
									<div class="info-text">
										<p class="text1">Chưa có sản phẩm trong giỏ hàng...</p>
										<p class="text2">Bạn có thể quay về <a href="{{shop.url}}">trang chủ</a> hoặc nhập từ khoá sản phẩm bạn cần tìm ở đây:</p>
									</div>
									<div class="search-field">
										<form class="search-page" action="/search">
											<input type="hidden" name="type" value="product">
											<input type="text" name="q" class="search_box" placeholder="Tìm kiếm sản phẩm..." aria-label="Tìm kiếm sản phẩm">
											<button type="submit" class="btn-search btn">
												<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect></svg>
											</button>
										</form>
									</div>
								</div>
							</div>
							{% else %}
							<div class="list-pageform-cart  mb-3">
								<form action="/cart" method="post" id="cartformpage">
									<div class="cart-row">
										<div class="table-cart">
											
											{%- for item in cart.items -%}
											{%-unless settings.promotion_hrvapp_use-%}
											{%-if item.properties.Combo != nil-%}
											{%-assign still = true-%}
											{%-if checkUnActiveApp == ''-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=0'-%}
											{%-else-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=0'-%}
											{%-endif-%}
											{%-elsif item.properties.BuyXGetY != nil-%}
											{%-assign still = true -%}
											{%-if checkUnActiveApp == ''-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=0'-%}
											{%-else-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=0'-%}
											{%-endif-%}
											{%-else-%}
											{%-if checkUnActiveApp == ''-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: 'updates[]=' | append: item.quantity-%}
											{%-else-%}
											{%-assign checkUnActiveApp = checkUnActiveApp | append: '&' | append: 'updates[]=' | append: item.quantity-%}
											{%-endif-%}
											{%-endif-%}
											{%-endunless-%}
											
											{% comment %}<!-- Kiếm tra có khuyến mãi hay không -->{% endcomment %}
											{%-assign prmote_check = true-%}
											{%-if settings.promotion_hrvapp_use -%}
													{%-if item.price == 0 or item.properties.BuyXGetY != nil or item.properties.Combo != nil -%}
														{%-assign prmote_check = false-%}
													{%-endif-%}
											{%-endif-%}
											<div class="media-line-item line-item" data-line="{{forloop.index}}" data-variant-id="{{ item.variant_id }}" data-product-id="{{ item.product.id }}">
												<div class="media-left">
													<div class="item-img">
														<a href="{{ item.url }}">
															<img src="{% if item.image > 0 %} {% if item.variant.image == empty %} {{ item.image | product_img_url : 'medium'}} {% else%} {{ item.variant.image | product_img_url : 'medium'}}{% endif %}{% else %}{{'no_image.jpg' | asset_url}}{% endif %}" alt="{{ item.title }}" />
														</a>
													</div>
													{%-unless settings.promotion_hrvapp_use and item.price == 0 -%}
													<div class="item-remove">
														<a href="javascript:void(0)" onclick="HRT.Cart.removeItemCart(this,'/cart/change?line={{ forloop.index }}&quantity=0')" class="cart">Xóa</a>
													</div>
													{%-endunless-%}
												</div>
												<div class="media-right">
													<div class="item-info">
														<h3 class="item--title"><a href="{{ item.url }}">{{ item.product.title }}</a></h3>

														{% if item.product.variants.size > 1 %}
														{%-if prmote_check-%}
														<p class="item-variant item-variant-edit cart-variant-edit"  data-edit="{{item.url}}?variant={{item.variant_id}}">
															<span>{{ item.variant.title }}</span>
														</p>
														{% else %}
														<p class="item-variant"><span>{{ item.variant.title }}</span></p>
														{%- endif -%}
														
														{%- endif -%}
														{%-if settings.promotion_hrvapp_use and item.properties.Combo != nil-%}
														<p class="item-prmote type_promote">{{item.properties.Combo | append: '' | split: '-' | last}}</p>
														{%-endif-%}
													</div>
													<div class="item-price">
														<p>
															<span>{{item.price | money }}</span>
															{% if item.product.compare_at_price > item.price  %}
															<del>{{ item.variant.compare_at_price | money }}</del>
															{% endif %}
															{%-if settings.promotion_hrvapp_use and item.properties.BuyXGetY != nil-%}
															<span class="ico-gift"><img src="{{settings.combo_icon}}" alt="icon quà tặng"></span>
															{%-endif-%}
														</p>
													</div>
												</div>
												<div class="media-total">
													<div class="item-total-price">
														<div class="price">
															<span class="line-item-total">{{ item.line_price | money }}</span>
														</div>
													</div>
													<div class="item-qty">
														<div class="qty quantity-partent qty-click clearfix">
															{%-if prmote_check-%}
															<button type="button" class="qtyminus qty-btn">
																<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0"><polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon></svg>
															</button>
															{%-endif-%}
															<input type="text" size="4" name="updates[]" min="1" oriPrice="{{item.price_original}}" line="{{ forloop.index }}" productId="{{ item.product_id }}" variantId="{{ item.variant_id }}" id="updates_{{ item.variant_id }}" data-price="{{ item.price }}" value="{{ item.quantity }}" readonly  class="tc line-item-qty item-quantity" />
															{%-if prmote_check-%}
															<button type="button" class="qtyplus qty-btn">
																<svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0"><polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon></svg>
															</button>
															{%-endif-%}
														</div>
													</div>

												</div>
											</div>
											{% endfor %}
											{%- if still == false-%}{%-assign checkUnActiveApp = '' -%}{%- endif -%}
										</div>
									</div>
									<div class="cart-row">
										<div class="order-noted-block">	
											<div class="container-pd15">				
												<div class="checkout-buttons clearfix">
													<label for="note" class="note-label">Ghi chú đơn hàng</label>
													<textarea class="form-control" id="note" name="note" rows="5"></textarea>
												</div>	
												<button type="submit" id="checkout" class="btn-checkout button d-none {% if cart.total_price == 0 %} disabled {% endif %}" name="checkout" value="" >Thanh toán</button>
											</div> 
										</div>
									</div>
									<div class="cart-row">
										<div class="order-invoice-block">	
											<div class="checkbox">
												<input type="hidden" name="attributes[invoice]" id="re-checkbox-bill" value='{% if cart.attributes["invoice"] == "yes" %}yes{%else%}no{% endif %}'>
												<input type="checkbox" id="checkbox-bill" value="yes" {% if cart.attributes["invoice"] == 'yes' %} checked{% endif %} name="regular-checkbox" class="regular-checkbox" />
												<label for="checkbox-bill" class="box"></label>
												<label for="checkbox-bill" class="title">Xuất hoá đơn cho đơn hàng</label>
											</div>
											{%-if cart.attributes['bill_order_company']-%}{%-assign bill_order_company = cart.attributes['bill_order_company']-%}{%-endif-%} 
											{%-if cart.attributes['bill_order_tax_code']-%}{%-assign bill_order_tax_code = cart.attributes['bill_order_tax_code']-%}{%-endif-%}
											{%-if cart.attributes['bill_email']-%}{%-assign bill_email = cart.attributes['bill_email']-%}{%-endif-%}
											{%-if cart.attributes['bill_order_address']-%}{%-assign bill_order_address = cart.attributes['bill_order_address']-%}{%-endif-%}
											<div class="bill-field">
												<div class="form-group">
													<input type="text" class="form-control val-f check_change" name="attributes[bill_order_company]" value="{{ bill_order_company }}" placeholder="Tên công ty...">
												</div>	
												<div class="form-group">
													<input type="number" pattern=".{10,}" onkeydown="return HRT.All.FilterInput(event)" onpaste="HRT.All.handlePaste(event)" class="form-control val-f val-n check_change" name="attributes[bill_order_tax_code]" value="{{ bill_order_tax_code }}" placeholder="Mã số thuế...">
												</div>
												<div class="form-group">
													<input type="email" class="form-control val-f val-mail check_change" name="attributes[bill_email]" value="{{ bill_email }}" placeholder="Email...">
												</div>
												<div class="form-group">
													<input type="text" class="form-control val-f check_change" name="attributes[bill_order_address]" value="{{ bill_order_address }}" placeholder="Địa chỉ công ty...">
												</div>
												<div class="form-btn">
													<a href="javascript:void();" class="button btndark btn-save">Lưu thông tin</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							{% endif %}	
							<div class="pageCart-hrvpmo  hrvpmo-grids"><div class="hrv-pmo-discount" data-hrvpmo-layout="grids"></div></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 sidebarCart-sticky {%if cart.item_count == 0%}is-hidden{%endif%}">
						<div class="wrap-order-summary">			
							<div class="order-summary-block">
								<h2 class="summary-title">Thông tin đơn hàng</h2>
								{%- if settings.cart_deliverytime_show -%}
								<div class="summary-time summary-picktime">
									<div class="summary-time__row">
										<div class="boxtime-title">												
											<p class="txt-title">Thời gian giao hàng</p>	
											<p class="txt-time ">
												<i class="fa fa-clock-o" aria-hidden="true"></i> 
												<span>{%-if cart.attributes['Delivery Time']-%} {{cart.attributes['Delivery Time']}} {%- else-%} Chọn thời gian {%-endif-%}</span>
											</p>	
										</div>							
										<div class="boxtime-radio" id="picktime_radio" 
												 data-time-start='{{settings.cart_deliverytime_start | lstrip | rstrip }}'
												 data-time-end='{{settings.cart_deliverytime_end | lstrip | rstrip }}'>		
											{%- if settings.cart_deliverytime_now != blank -%}
											<div class="radio-item">
												<input class="input-radio" type="radio" name="timeRadios" id="timeRadios-1" value="timeNow" >
												<label class="label-radio" for="timeRadios-1">{{settings.cart_deliverytime_now}}</label>
											</div>	
											{%- endif -%}
											<div class="radio-item">
												<input class="input-radio" type="radio" name="timeRadios" id="timeRadios-2" value="timeDate">
												<label class="label-radio" for="timeRadios-2">Chọn thời gian</label>
											</div>										
										</div>												
									</div>
									<div class="summary-time__row picktime_selecter">
										<div class="boxtime-select">
											<div class="select-choose">
												<div class="select-box date-option">
													<label>Ngày giao</label>
													<div class="select-option">
														<select id="date_shipping">
															<option value="{{ 'now' | date: '%d/%m/%Y' }}">Hôm nay</option>
														</select>
													</div>
												</div>
												<div class="select-box time-option">
													<label>Thời gian giao</label>
													<div class="select-option">
														<select id="time_shipping">														
															{%- for i in (1..14) -%}
															{% capture hourstime %}cart_deliverytime_{{ i }}{% endcapture %}														
															{%- assign timeStart = settings[hourstime] | lstrip | rstrip -%}	
															{%- assign datamin = timeStart | split: '-' | first -%}	
															{%- assign datamax = timeStart | split: '-' | last -%}	
															{% if timeStart != blank  %}
															<option data-min="{{ datamin | lstrip | rstrip | append:':00' }}" data-max="{{datamax | lstrip | rstrip | append:':00' }}" value="{{timeStart}}">{{timeStart}}</option>
															{%- endif -%}
															{%- endfor -%}
														</select>
													</div>
												</div>
											</div>
											<div class="select-button">
												<button class="btn-accepttime"  id="btn-cart-accepttime">Xác nhận thời gian</button>
											</div>
										</div>
									</div>
								</div>
								{%- endif -%}
								<div class="summary-total">
									<p>Tổng tiền: <span>{{ cart.total_price | money }}</span></p>
								</div>
								<div class="summary-action">					
									{%- if settings.cart_txt1 != blank -%}<p>{{settings.cart_txt1}}</p>{%- endif -%}
									{%- if settings.cart_txt2 != blank -%}<p>{{settings.cart_txt2}}</p>{%- endif -%}
									{%- if settings.cart_txt3 != blank -%}<p>{{settings.cart_txt2}}</p>{%- endif -%}
									<div class="summary-alert alert alert-danger " {% if checkPriTotal %}style="display:block"{% endif %}>
										Giỏ hàng của bạn hiện chưa đạt mức tối thiểu để thanh toán.
									</div>
								</div>
								<div class="summary-button">	
									<a id="btnCart-checkout" class="checkout-btn btnred {% if checkPriTotal %}disabled{% endif %}"
										 data-price-min="{{ valuePriMin }}" 
										 data-price-total="{{ valuePriTotal }}" 
										 href="#" >THANH TOÁN </a>
								</div>
							</div>
							<div class="order-summary-hrvpmo"><div class="hrv-pmo-coupon" data-hrvpmo-layout="minimum"></div></div>
							{%- if settings.cart_total_min != '' or settings.cart_total_min != blank -%}
							<div class="order-summary-block order-summary-notify ">
								<div class="summary-warning alert-order">						
									<p class="textmr"><strong>Chính sách mua hàng</strong>:</p>
									<p>Hiện chúng tôi chỉ áp dụng thanh toán với đơn hàng có giá trị tối thiểu <strong>{{settings.cart_total_min | lstrip | rstrip | money | replace: ',','.'}} </strong> trở lên.</p>
								</div>
							</div>
							{%- endif -%}
							{% if settings.cart_coupon_show %}
							<div class="order-summary-block">
								<div class="cart-coupon">
									{%- include 'list-coupon-slide' with couponIndex: 'cartCoupon' -%}
									<div class="swiper-nav">
										<span class="swiper-button swiper-prev swiper-coupon-cart-prev">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 511.993 511.993" style="transform: rotate(180deg)"><g><g><g><path d="M487.292,235.408H20.59c-11.372,0-20.59,9.224-20.59,20.59c0,11.366,9.217,20.59,20.59,20.59h466.702 c11.372,0,20.59-9.217,20.59-20.59C507.882,244.625,498.665,235.408,487.292,235.408z"></path></g></g><g><g><path d="M505.96,241.434L304.187,39.653c-8.044-8.037-21.07-8.037-29.114,0c-8.044,8.044-8.044,21.084,0,29.121l187.216,187.223 L275.073,443.221c-8.044,8.037-8.044,21.077,0,29.114c4.022,4.022,9.286,6.033,14.557,6.033s10.535-2.011,14.557-6.033	l201.773-201.78C514.004,262.511,514.004,249.47,505.96,241.434z"></path></g></g></g></svg>
										</span>
										<span class="swiper-button swiper-next swiper-coupon-cart-next">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 511.993 511.993"><g><g><g><path d="M487.292,235.408H20.59c-11.372,0-20.59,9.224-20.59,20.59c0,11.366,9.217,20.59,20.59,20.59h466.702 c11.372,0,20.59-9.217,20.59-20.59C507.882,244.625,498.665,235.408,487.292,235.408z"></path></g></g><g><g><path d="M505.96,241.434L304.187,39.653c-8.044-8.037-21.07-8.037-29.114,0c-8.044,8.044-8.044,21.084,0,29.121l187.216,187.223 L275.073,443.221c-8.044,8.037-8.044,21.077,0,29.114c4.022,4.022,9.286,6.033,14.557,6.033s10.535-2.011,14.557-6.033	l201.773-201.78C514.004,262.511,514.004,249.47,505.96,241.434z"></path></g></g></g></svg>
										</span>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="d-none">{{ htmlPopover }}</div>
<div class="modal-coupon--backdrop"></div>

<!-- modal quickview -->
<div class="modal fade modal-height mdlcart-product-edit" id="mdlcart-product-edit" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"><!-- -->
		<div class="modal-content mdlcart-detail">

		</div>
	</div>
</div>	

<script>	
	var line_picked = -1;
	var option_value = '';

	jQuery(document).ready(function(){ 
		/* Edit sản phẩm chính */
		$(document).on('click','.cart-variant-edit',function(e){
			e.preventDefault();
			var link_edit = $(this).attr('data-edit');
			line_picked = $(this).parents('.media-line-item').attr('data-line');
			option_value =  $(this).parents('.media-line-item').find('.item-variant span').html();
			qty_edit = Number($(this).parents('.media-line-item').find('.line-item-qty').val());
			$.ajax({
				url:link_edit +'&view=quickview-cart',
				success:function(e){
					$('#mdlcart-product-edit .mdlcart-detail').html(e);	
					$('#mdlcart-product-edit .mdcart-variant').html(option_value);
					$('#mdlcart-product-edit #quickview-qtyvalue').val(qty_edit);
					$('#mdlcart-product-edit').modal('show');		
				}
			});
		});
		/* Update Cart */
		$(document).on('click','.mdcart-actions .btn-mdcart-confirm ',function(e){
			e.preventDefault();
			$('#layout-cart').find('.cart-ajloading').remove();
			var id = $('#mdlcart-product-edit #product-select-quickview').val();
			var qty = $('#mdlcart-product-edit #quickview-qtyvalue').val();
			$.post("/cart/change.js",{line: line_picked, quantity: 0}).done(function(){
				$.post("/cart/add.js",{id: id, quantity: qty}).done(function(){
					//$('#mdlcart-product-edit').modal('hide');	
					$('#layout-cart').after('<div class="cart-ajloading"><div><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div></div>');
					setTimeout(function() {
						window.location.reload();
					},120);

				}).fail(function(){
					alert('Sản phẩm bạn vừa mua đã vượt quá tồn kho');
				});
			});
		});
	});
</script>

<script>	
	{%-if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuyxgety' or settings.promotion_hrvapp == 'appcombo'-%}
	function delayTime2 (func, wait) {
		return function() {
			var that = this,
					args = [].slice(arguments);
			clearTimeout(func._throttleTimeout);
			func._throttleTimeout = setTimeout(function() {
				func.apply(that, args);
			}, wait);
		};
	}
	$(document).on('click', '.qty-click .qtyplus', function(e){
		 e.preventDefault();
		 var input = $(this).parent('.quantity-partent').find('input');
		 var currentVal = parseInt(input.val());
		 if (!isNaN(currentVal)) {
			 input.val(currentVal + 1);
		 } else {
			 input.val(1);
		 }
	 });
	 $(document).on('click', ".qty-click .qtyminus", function(e){
		 e.preventDefault();
		 var input = $(this).parent('.quantity-partent').find('input');
		 var currentVal = parseInt(input.val());
		 if (!isNaN(currentVal) && currentVal > 1) {
			 input.val(currentVal - 1);
		 } else {
			 input.val(1);
		 }
	 });	 
	 {%-if settings.promotion_hrvapp == 'appbuyxgety'-%}
	 $(document).on('click', '.qty-click .qtyplus', delayTime2(function(){
		 var input = $(this).parent('.quantity-partent').find('input');
		 $(this).parent('.quantity-partent').find('.qtyminus').removeClass('stop');
		 var line = input.attr('line');
		 var vId = input.attr('variantid');
		 var pId = input.attr('productid');
		 var currentQty = parseInt(input.val());
		 HRT.Cart.updatePriceChange('plus',line,vId,pId,currentQty);
	 },500));
		$(document).on('click','.qty-click .qtyminus', delayTime2(function(){
			if(!$(this).hasClass('stop')){
				var input = $(this).parent('.quantity-partent').find('input');
				var line = input.attr('line');
				var vId = input.attr('variantid');
				var pId = input.attr('productid');
				var currentQty = parseInt(input.val());
				HRT.Cart.updatePriceChange('minus',line,vId,pId,currentQty);
			}
		},500));
		{%-elsif settings.promotion_hrvapp == 'appcombo'-%}
		$(document).on('click', '.qty-click .qtyplus,.qty-click .qtyminus', delayTime2(function(){
			comboApp.comboUpdateCart();
		},500));
		 $(document).on('change', '.qty-click .item-quantity', delayTime2(function() {				
			 comboApp.comboUpdateCart();
		 }, 500));
		 {%-endif-%}
		 {%-else-%}
		 function unPromote(tmp){
			 var self = this;
			 tmp += "&note="+$('#note').val();
			 $.post('/cart', tmp).always(function() {
				 setTimeout(function() { location.reload(); }, 500);
			 });
		 }
			//console.log("{{checkUnActiveApp}}");
			{%-if checkUnActiveApp != ''-%} 
			unPromote("{{checkUnActiveApp}}");
			 {%-else-%}				
			 document.addEventListener('DOMContentLoaded', function() {	
				 HRT.Cart.initQuantityCart(); 
			 });
				{%-endif-%}
				{%-endif-%}
</script>




