{%- assign tabs = product.metafields.hrvptabs.tabs -%}
{%- assign check_pro_tab = false -%}
{%- if tabs -%}
{%- assign check_pro_tab = true -%}
{%- assign tabList = tabs | append: '' | split: '@@###@@' -%}
{%- endif -%}
{%- comment -%}<!-- BUTTON TRACKING PRODUCT -->{%- endcomment -%}
{%- assign btnClassTrack = ''-%}
{%- if settings.link_product_btn_bottom != blank -%}
{%-if settings.link_product_btn_bottom contains '//zalo.me' -%}{%- assign btnClassTrack = 'cta-chatzalo'-%}
{%-elsif settings.link_product_btn_bottom contains 'tel:' -%}  {%- assign btnClassTrack = 'cta-clicktocall'-%}
{%-elsif settings.link_product_btn_bottom contains '//m.me'-%} {%- assign btnClassTrack = 'cta-chatmessager'-%} {%- endif -%}
{%- endif -%}
{%- comment -%}<!-- TAGS -->{%- endcomment -%}


{%- assign checkgift = false -%}
{%- assign tag_daban = '' -%}
{%- assign tag_duration = '' -%}
{%- assign tag_language = '' -%}
{%- for tag in product.tags -%}
{%- if tag == 'giftbox' -%} {%- assign checkgift = true -%} {%- endif -%}
{%- if tag contains 'tag_daban_' -%} {%- assign tag_daban = tag | remove: 'tag_daban_' -%} {%- endif -%}
{%- if tag contains 'tag_duration_' -%} {%- assign tag_duration = tag | remove: 'tag_duration_' -%} {%- endif -%}
{%- if tag contains 'tag_language_' -%} {%- assign tag_language = tag | remove: 'tag_language_' -%} {%- endif -%}
{% endfor %}

{%- comment -%}<!-- Check tag type -->{%- endcomment -%}
{% assign tags = settings.tag_type_list | split:"," %}
{% assign count_tag = 0 %}
{% for tag in product.tags %}
{% for type in tags %}
{%if type == tag%}
{% assign count_tag = count_tag | plus: 1 %}
{%endif%}
{% endfor %}
{% endfor %}

{%- comment -%}<!-- Check Price Zero -->{%- endcomment -%}
{%- assign products_price_zero = false -%}
{%- if  product.variants.first.price == 0 -%}
{%- assign products_price_zero = true -%}
{%- endif -%}
{%- comment -%}<!-- Check Size -->{%- endcomment -%}
{%-assign indsize = 0 | times: 1 -%}
{%-assign check_sizeguide = false-%}
{%-assign tagsize_1 =  settings.tagsize_1_tag | lstrip | rstrip -%}
{%-assign tagsize_2 =  settings.tagsize_2_tag | lstrip | rstrip -%}
{%-assign tagsize_3 =  settings.tagsize_3_tag | lstrip | rstrip -%}
{%-assign tagsize_4 =  settings.tagsize_4_tag | lstrip | rstrip -%}
{%-if settings.tagsize_show -%}  {%-assign check_sizeguide = true-%} {%-endif-%}
{%-if product.tags contains tagsize_1 -%} {%-assign indsize = 1 | times: 1 -%} {%-endif-%}
{%-if product.tags contains tagsize_2 -%} {%-assign indsize = 2 | times: 1 -%} {%-endif-%}
{%-if product.tags contains tagsize_3 -%} {%-assign indsize = 3 | times: 1 -%} {%-endif-%}
{%-if product.tags contains tagsize_4 -%} {%-assign indsize = 4 | times: 1 -%} {%-endif-%}
<!-- end_size -->

{%- assign is_collection_preorder = false -%}
{%- for item in product.collections -%}
{%- if item.handle == settings.collection_preorder -%}
{%- assign is_collection_preorder = true -%}
{%- break -%}
{%- endif -%}
{%- endfor -%}

<script>
	{%-if product.description contains '{' and product.description contains '}' and product.description contains '<hr>' -%}
	let data_360 = {{ product.description | split: '<hr>' | last | strip_html | json | replace: '&nbsp;','' }};
	data_360 = JSON.parse(data_360);
	{%-else-%}
	let data_360 = null;
	 {%-endif-%}
</script>	
{% comment %}<!-- Check 360 -->{% endcomment %}
{%-assign has_360 = false-%}
{%-if product.description contains '{' and product.description contains '}' and product.description contains '<hr>' -%}
{%-if product.description contains '"image360":'-%}{%-assign has_360 = true-%}{%-endif-%}
{%-endif-%}
{% comment %}<!-- Check Video -->{% endcomment %}
{%- assign has_video = false -%}
{%-if product.media.size > 0 -%}
{%- for media in product.media -%}
{%- if media.media_type == 'external_video' -%}
{%- assign has_video = true -%}
{%- endif -%}
{%-endfor-%}
{%- endif -%}
{%- assign runSlide = false -%}
{%- if product.images.size > 1 -%}{%- assign runSlide = true -%}{%- endif -%}
{%- if product.images.size >= 1 and has_video -%}{%- assign runSlide = true -%}{%- endif -%}
{%- if product.images.size == 0 and has_video -%}{%- assign runSlide = true -%}{%- endif -%}
{%- if product.images.size >= 1 and has_360 -%}{%- assign runSlide = true -%}{%- endif -%}
{%- if has_video and has_360 -%}{%- assign runSlide = true -%}{%- endif -%}

<script>
	var currentId = {{product.id}};
	var check_variant_add = false;
	var pro_template = "{{settings.product_layout_style}}";

	var vrIdParam  = true,  current_id = {{ product.variants.first.id }};
	{% if product.available %}
	var selectedVariant = {
		id: {{ product.selected_or_first_available_variant.id }},
			option1: "{{ product.selected_or_first_available_variant.option1 }}",
				option2: "{{ product.selected_or_first_available_variant.option2 }}",
					option3: "{{ product.selected_or_first_available_variant.option3 }}"
	};
	{% else %}
	var selectedVariant = {
		id: {{ product.variants.first.id }},
			option1: "{{ product.variants.first.option1 }}",
				option2: "{{ product.variants.first.option2 }}",
					option3: "{{ product.variants.first.option3 }}"	
	}
	{% endif %}

</script>

<div class="{{settings.product_layout_style}} layout-productDetail layout-pageProduct">
	{%- include 'breadcrumb' -%}

	<section class="productDetail-information">
		<div class="container">
			<div class="productDetail--main">
				<div class="product-heading">
					<h1>{{ product.title }}</h1>
					{%comment%}
					{% if product.variants[0].sku %}
					<span id="pro_sku">Mã sản phẩm: <strong>{{product.variants[0].sku}}</strong></span>
					{% endif %}
					<span class="pro-soldold">Tình trạng:
						{% if product.variants.first.available %}
						<strong>Còn hàng</strong>
						{%else%} 
						<strong>Hết hàng</strong>
						{%endif%}
					</span>
					{%endcomment%}
					{%if settings.show_prod_tag_type and count_tag > 0%}
					<div class="tag-wrapper-pro hidden">
						<ul class="tags">
							{% for type in tags %}
							{% for tag in product.tags %}
							{%if type == tag%}
							<li>
								<a href="/collections/all/{{tag | handleize}}">{{tag}}</a>
							</li>
							{%endif%}
							{%endfor%}
							{%endfor%}
						</ul>
					</div>
					{%endif%}
					<div class="heading-action">
						<div class="group-status">
							{%- if settings.productreviews_hrvapp_use -%}
							<div class="product-reviews">					
								<div class="haravan-product-reviews-badge rating-star" data-id="{{ product.id }}"> 
									{%-assign proreview = product.metafields.src.product_loop %}
									{{ proreview }} 
								</div>
							</div>	
							{%-endif-%}
							{%- unless product.vendor == 'Khác' -%}
							<div class="pro-vendor">{{product.vendor | link_to_vendor}}</div>
							{%- endunless -%}
							{%if tag_daban != ''%}
							<div class="pro-soldout">{{tag_daban}} {{settings.prod_booked_title}}</div>
							{%else%}
							<div class="pro-soldout">{{product.sold_quantity}} {{settings.prod_booked_title}}</div>
							{%endif%}
						</div>
						{%if settings.show_prod_share%}
						<div class="pro-share">
							<div class="share-title">
								<i class="fa fa-share-alt"></i> {{settings.prod_share_title}}
							</div>
							<div class="list-icon">
								<a href="//www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank" aria-label="facebook" class="tooltip-cs share-facebook">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512"><g><g><path d="m512 256c0 127.78-93.62 233.69-216 252.89v-178.89h59.65l11.35-74h-71v-48.02c0-20.25 9.92-39.98 41.72-39.98h32.28v-63s-29.3-5-57.31-5c-58.47 0-96.69 35.44-96.69 99.6v56.4h-65v74h65v178.89c-122.38-19.2-216-125.11-216-252.89 0-141.38 114.62-256 256-256s256 114.62 256 256z" fill="#1877f2" data-original="#1877f2"></path><path d="m355.65 330 11.35-74h-71v-48.021c0-20.245 9.918-39.979 41.719-39.979h32.281v-63s-29.296-5-57.305-5c-58.476 0-96.695 35.44-96.695 99.6v56.4h-65v74h65v178.889c13.034 2.045 26.392 3.111 40 3.111s26.966-1.066 40-3.111v-178.889z" fill="#ffffff" data-original="#ffffff"></path></g></g></svg>
									<span class="tooltip-hover">Facebook</span>
								</a>
								<a href="https://m.me/{{settings.code_messenger_mb}}" target="_blank" rel="noreferrer" aria-label="messenger" class="tooltip-cs share-messenger">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28 28"><g fill="none" fill-rule="evenodd"><g><g><g><g><g><g transform="translate(-293.000000, -708.000000) translate(180.000000, 144.000000) translate(16.000000, 16.000000) translate(0.000000, 548.000000) translate(61.000000, 0.000000) translate(36.000000, 0.000000)"><circle cx="14" cy="14" r="14" fill="#0084FF"/><path fill="#FFF" d="M14.848 15.928l-1.771-1.9-3.457 1.9 3.802-4.061 1.815 1.9 3.414-1.9-3.803 4.061zM14.157 7.2c-3.842 0-6.957 2.902-6.957 6.481 0 2.04 1.012 3.86 2.593 5.048V21.2l2.368-1.308c.632.176 1.302.271 1.996.271 3.842 0 6.957-2.902 6.957-6.482S17.999 7.2 14.157 7.2z"/></g></g></g></g></g></g></g></svg>
									<span class="tooltip-hover">Messenger</span>
								</a>
								<a href="https://twitter.com/intent/tweet?text=optional%20promo%20text%20{{ shop.url }}{{ product.url }}" target="_blank" aria-label="twitter" class="tooltip-cs share-twitter">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 291.319 291.319"><g><g><path style="" d="M145.659,0c80.45,0,145.66,65.219,145.66,145.66c0,80.45-65.21,145.659-145.66,145.659 S0,226.109,0,145.66C0,65.219,65.21,0,145.659,0z" fill="#26a6d1" data-original="#26a6d1" class="hovered-path"></path><path style="" d="M236.724,98.129c-6.363,2.749-13.21,4.597-20.392,5.435c7.338-4.27,12.964-11.016,15.613-19.072 c-6.864,3.96-14.457,6.828-22.55,8.366c-6.473-6.691-15.695-10.87-25.909-10.87c-19.591,0-35.486,15.413-35.486,34.439 c0,2.704,0.31,5.335,0.919,7.857c-29.496-1.438-55.66-15.158-73.157-35.996c-3.059,5.089-4.807,10.997-4.807,17.315 c0,11.944,6.263,22.504,15.786,28.668c-5.826-0.182-11.289-1.721-16.086-4.315v0.437c0,16.696,12.235,30.616,28.476,33.784 c-2.977,0.783-6.109,1.211-9.35,1.211c-2.285,0-4.506-0.209-6.673-0.619c4.515,13.692,17.625,23.651,33.165,23.925	c-12.153,9.249-27.457,14.748-44.089,14.748c-2.868,0-5.69-0.164-8.476-0.482c15.722,9.777,34.367,15.485,54.422,15.485 c65.292,0,100.997-52.51,100.997-98.029l-0.1-4.461C225.945,111.111,231.963,105.048,236.724,98.129z" fill="#ffffff" data-original="#ffffff"></path></g></g></svg>
									<span class="tooltip-hover">Twitter</span>
								</a>
								<a href="//pinterest.com/pin/create/link/?url={{ shop.url }}&media={{product.featured_image}}&description={{product.title}}" target="_blank" aria-label="pinterest" class="tooltip-cs share-pinterest">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 112.198 112.198"><g><g><circle cx="56.099" cy="56.1" r="56.098" fill="#cb2027" data-original="#cb2027"></circle><g><path style="" d="M60.627,75.122c-4.241-0.328-6.023-2.431-9.349-4.45c-1.828,9.591-4.062,18.785-10.679,23.588 c-2.045-14.496,2.998-25.384,5.34-36.941c-3.992-6.72,0.48-20.246,8.9-16.913c10.363,4.098-8.972,24.987,4.008,27.596 c13.551,2.724,19.083-23.513,10.679-32.047c-12.142-12.321-35.343-0.28-32.49,17.358c0.695,4.312,5.151,5.621,1.78,11.571 c-7.771-1.721-10.089-7.85-9.791-16.021c0.481-13.375,12.018-22.74,23.59-24.036c14.635-1.638,28.371,5.374,30.267,19.14 C85.015,59.504,76.275,76.33,60.627,75.122L60.627,75.122z" fill="#f1f2f2" data-original="#f1f2f2" class=""></path></g></g></g></svg>
									<span class="tooltip-hover">Pinterest</span>
								</a>
								<a class="tooltip-cs share-link-js" name="copy-link" data-url="{{ shop.url }}{{ product.url }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 496.158 496.158"><g><path style="" d="M0,248.085C0,111.064,111.07,0.003,248.076,0.003c137.012,0,248.082,111.061,248.082,248.082 c0,137.002-111.07,248.07-248.082,248.07C111.07,496.155,0,385.087,0,248.085z" fill="#25b7d3" data-original="#25b7d3" class=""></path><g><path style="" d="M394.463,151.309l-49.615-49.614c-10.727-10.728-28.119-10.726-38.844,0l-76.631,76.63 c-10.726,10.728-10.727,28.119-0.001,38.847l49.615,49.614c10.727,10.727,28.119,10.726,38.845-0.002l76.631-76.63 C405.188,179.429,405.189,162.036,394.463,151.309z M312.59,235.423c-6.289,6.288-16.484,6.289-22.772,0.001l-29.084-29.084 c-6.288-6.288-6.287-16.483,0.001-22.772l50.511-50.511c6.287-6.287,16.482-6.288,22.771,0l29.084,29.085	c6.288,6.287,6.287,16.482,0,22.77L312.59,235.423z" fill="#ffffff" data-original="#ffffff" class=""></path><path style="" d="M266.786,278.986l-49.614-49.614c-10.727-10.727-28.119-10.726-38.845,0l-76.631,76.632 c-10.726,10.726-10.727,28.118,0,38.844l49.615,49.615c10.726,10.727,28.119,10.725,38.844,0l76.632-76.633 C277.511,307.105,277.513,289.713,266.786,278.986z M184.912,363.1c-6.288,6.288-16.482,6.29-22.771,0.001l-29.084-29.084 c-6.289-6.288-6.288-16.483,0-22.771l50.512-50.512c6.287-6.287,16.482-6.288,22.771,0l29.084,29.084 c6.288,6.289,6.287,16.484,0,22.771L184.912,363.1z" fill="#ffffff" data-original="#ffffff" class=""></path></g><path style="" d="M306.907,191.673l-2.42-2.421c-7.742-7.743-20.34-7.743-28.083,0l-87.151,87.151 c-7.742,7.742-7.742,20.34,0,28.082l2.42,2.421c7.742,7.741,20.34,7.741,28.083,0l87.151-87.152 C314.649,212.013,314.649,199.414,306.907,191.673z" fill="#48a1af" data-original="#48a1af"></path><path style="" d="M215.398,302.548c-5.348,5.348-14.02,5.349-19.368,0.001l-2.421-2.421 c-5.348-5.348-5.348-14.02,0-19.367l87.152-87.152c5.348-5.349,14.019-5.348,19.368,0.002l2.42,2.42 c5.347,5.348,5.349,14.019,0,19.366L215.398,302.548z" fill="#ffffff" data-original="#ffffff" class=""></path><g></g></g></svg>
									<span class="tooltip-hover">Sao chép url</span>
								</a>
							</div>
						</div>
						{%endif%}
					</div>
				</div>
				<div class="productDetail--gallery">
					<div class="product-container-gallery">
						<div class="wrapbox-gallery">
							<div class="wrapbox-image">
								{%- if runSlide -%}
								{%- assign thumb_media = '' -%}
								{%- assign thumb_img = '' -%}
								<div class="productGallery_slider">	
									<div class="productList-slider productCarousel-slider" id="productCarousel-slider">									
										{%-if product.media.size > 0-%}
										{%- for media in product.media -%}
										{%- if media.media_type == 'external_video' -%}
										{%- if media.host == 'youtube' -%}
										<div class="product-gallery prod-video gallery-item">
											<div class="product-gallery__item boxlazy-img">  
												<div class="boxlazy-img__insert lazy-img__prod">
													<div class="boxlazy-img__aspect">
														{{ media | external_video_url | external_video_tag }}
													</div>
												</div>
											</div>
										</div>
										{%- capture temp_media -%}
										<div class="product-thumb thumb_video gallery-item">
											<div class="product-thumb__item boxlazy-img">		
												<div class="boxlazy-img__insert lazy-img__prod">
													<span class="boxlazy-img__aspect">
														<img alt="{%if media.alt != ''%}{{ media.alt | escape }}{%else%}{{product.title}}{%endif%}"
																 src="{{ media.preview_image.src | product_img_url : 'compact' }}" data-image="{{ media.preview_image.src | product_img_url : 'master' }}"/>
													</span>
													<span class="boxlazy-img__aspect icon-play">
														<img class="lazyload" data-src="https://file.hstatic.net/200000592359/file/icon_video_2d253ef605b0407da214e359ac3bdea5.png" 
																 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="video"/>
													</span>
												</div>
											</div>
										</div>
										{%- endcapture -%}
										{%- assign thumb_media = thumb_media | append: temp_media -%}
										{%- endif -%}
										{%- endif -%}
										{%-endfor-%}
										{%-endif-%}

										{%-if has_360-%}
										<div class="product-gallery illusion_360" id="gallery-scroll-image360">
											<div class="product-gallery__item boxlazy-img">  
												<div class="boxlazy-img__insert lazy-img__prod">
													<span class="boxlazy-img__aspect">
														<div id="div_360"></div>
													</span>
												</div>
											</div>
										</div>
										{%-endif-%}

										{%- for thumb in product.images -%}
										<div class="product-gallery boxlazy-img gallery-item"  data-image="{{ thumb.src | product_img_url : 'master' }}">
											<div class="boxlazy-img__insert lazy-img__prod">
												<span class="boxlazy-img__aspect">
													<a class="product-gallery__item" data-fancybox="gallery" href="{{ thumb.src | product_img_url : 'master' }}">	
														<img src="{{ thumb.src | product_img_url : 'master' }}" alt="{% if product.images.alt.size >0 %}{{ product.images.alt  | strip_html | escape }} {% else%} {{product.title | strip_html | escape }} {% endif %}">
													</a>	
												</span>
											</div>
										</div>	
										{%- capture tmp_img -%}
										<div class="product-thumb" data-image="{{ thumb.src | product_img_url : 'compact' }}">
											<div class="product-thumb__item boxlazy-img" >	
												<div class="boxlazy-img__insert lazy-img__prod">
													<span class="boxlazy-img__aspect">
														<img src="{{ thumb.src | product_img_url : 'compact' }}" alt="{% if product.images.alt.size >0 %}{{ product.images.alt  | strip_html | escape }} {% else%} {{product.title | strip_html | escape }} {% endif %}">
													</span>
												</div>
											</div>					
										</div>
										{%- endcapture -%}
										{%-assign thumb_img = thumb_img | append: tmp_img -%}
										{%- endfor -%}
									</div>	
									<div class="icon-gallery">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.125 4.125H4.875C4.46079 4.125 4.125 4.46079 4.125 4.875V19.125C4.125 19.5392 4.46079 19.875 4.875 19.875H19.125C19.5392 19.875 19.875 19.5392 19.875 19.125V4.875C19.875 4.46079 19.5392 4.125 19.125 4.125Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 4.125V19.875" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19.875 12H4.125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
										<span>Gallery</span>
									</div>
								</div>				
								{% else %}
								<div class="wrapbox-image no_gallery">
									<div class="product-gallery">
										<img src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'master' }}{%else%}{{'no_image.jpg' | asset_url}}{%endif%}"  
												 alt="{% if product.images.alt.size >0 %}{{ product.images.alt  | strip_html | escape }} {% else%} {{product.title | strip_html | escape }} {% endif %}"/>
									</div>			
								</div>
								{% endif %}
							</div>
							{%comment%}
							<div class="product-percent">
								{%- if product.variants.first.compare_at_price > product.price -%}
								<span class="pro-sale">-{{product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round : 0}}%<br> OFF </span>
								{%- endif -%}
							</div>	
							{%endcomment%}
						</div>
					</div>
				</div>
				<div class="productDetail--content">
					<div class="wrapbox-inner">
						<div class="d-flex flex-wrap">
							<div class="col-lg-8 col-md-12 col-12 p-0 wrapbox-left">
								<div class="wrapbox-detail">
									{%if tag_duration != '' or tag_language != '' or (settings.show_prod_tag_type and count_tag > 0)%}
									<div class="content-tag">
										<ul>
											{%if tag_duration != ''%}
											<li class="tag-duration"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
												{{settings.prod_tag_duration_title}}: {{tag_duration}}
											</li>
											{%endif%}
											{%if tag_language != ''%}
											<li class="tag-language"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M12.333 21C17.3036 21 21.333 16.9706 21.333 12C21.333 7.02944 17.3036 3 12.333 3C7.36244 3 3.33301 7.02944 3.33301 12C3.33301 16.9706 7.36244 21 12.333 21Z" stroke="#01AA90" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.33301 12H21.333" stroke="#01AA90" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12.333 20.7562C14.4041 20.7562 16.083 16.8359 16.083 12C16.083 7.16405 14.4041 3.24374 12.333 3.24374C10.2619 3.24374 8.58301 7.16405 8.58301 12C8.58301 16.8359 10.2619 20.7562 12.333 20.7562Z" stroke="#01AA90" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
												{{settings.prod_tag_language_title}}: {{tag_language}}
											</li>
											{%endif%}
											{%if settings.show_prod_tag_type and count_tag > 0%}
											<li class="tag-type"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M12.4 148l232.9 105.7c6.8 3.1 14.5 3.1 21.3 0l232.9-105.7c16.6-7.5 16.6-32.5 0-40L266.7 2.3a25.6 25.6 0 0 0 -21.3 0L12.4 108c-16.6 7.5-16.6 32.5 0 40zm487.2 88.3l-58.1-26.3-161.6 73.3c-7.6 3.4-15.6 5.2-23.9 5.2s-16.3-1.7-23.9-5.2L70.5 210l-58.1 26.3c-16.6 7.5-16.6 32.5 0 40l232.9 105.6c6.8 3.1 14.5 3.1 21.3 0L499.6 276.3c16.6-7.5 16.6-32.5 0-40zm0 127.8l-57.9-26.2-161.9 73.4c-7.6 3.4-15.6 5.2-23.9 5.2s-16.3-1.7-23.9-5.2L70.3 337.9 12.4 364.1c-16.6 7.5-16.6 32.5 0 40l232.9 105.6c6.8 3.1 14.5 3.1 21.3 0L499.6 404.1c16.6-7.5 16.6-32.5 0-40z"/></svg>
												{{settings.prod_tag_type_title}}:
												{% for tag in product.tags %}
												{% for type in tags %}
												{%if type == tag%}
												<a href="/collections/all/{{type | handleize}}">{{type}}</a>{%unless forloop.last%}, {%endunless%}
												{%endif%}
												{%endfor%}
												{%endfor%}
											</li>
											{%endif%}
										</ul>
									</div>
									{%endif%}
									<div class="content-desc">
										<div class="productDetail--box box-detail-description mg-top">
											<div class="product-description">	
												{%if settings.prod_desc_title != ''%}
												<div class="box-title"><h2>{{settings.prod_desc_title}}</h2></div>
												{%endif%}
												<div class="description-content expandable-toggle opened">
													{%- assign checkDescript = product.description | strip_html -%}  
													{%- if checkDescript.size > 0 -%}
													<div class="description-productdetail">
														{%-if product.description contains '{' and product.description contains '}' and product.description contains '<hr>' -%}
														{{ product.description | split: '<hr>' | first }}
														{%-else-%}
														{{ product.description }}
														{%-endif-%}
													</div>
													{%comment%}
													<div class="description-btn">
														<button class="expandable-content_toggle js_expandable_content">
															<span class="expandable-content_toggle-icon"></span>
															<span class="expandable-content_toggle-text">Xem thêm nội dung</span>
														</button>
													</div>
													{%endcomment%}
													{%- else -%}
													<p>Chưa có mô tả cho sản phẩm này</p>
													{%- endif -%}
												</div>
											</div>
										</div>

										{%- if settings.productreviews_hrvapp_use -%}
										<div class="productDetail--box box-detail-reviews mg-top">
											<div class="product-customer hrv-product-reviews" id="hrv-product-reviews"  data-id="{{ product.id }}"> 
												{%- if settings.title_review != blank -%}
												<div class="box-title"><h2>{{settings.title_review}}</h2></div>
												{%- endif -%}
												<div class="product-customer-reviews">
													<h2 class="hrv-product-reviews-heading d-none">Khách hàng nhận xét</h2>
													<div class="hrv-product-reviews-summary" id="hrv-product-reviews-summary">
														{{ product.metafields.src.productreviews }} 
													</div> 
													<div class="hrv-product-reviews-list" id="hrv-product-reviews-list">
														{{ product.metafields.src.reviewlist_0 }}
														{{ product.metafields.src.reviewlist_1 }}
														{{ product.metafields.src.reviewlist_2 }}
														{{ product.metafields.src.reviewlist_3 }}
														{{ product.metafields.src.reviewlist_4 }}
														{{ product.metafields.src.reviewlist_5 }}
														{{ product.metafields.src.reviewlist_6 }}
														{{ product.metafields.src.reviewlist_7 }}
														{{ product.metafields.src.reviewlist_8 }}
														{{ product.metafields.src.reviewlist_9 }}        
													</div>
												</div>
											</div>
										</div>
										{%- endif -%}

									</div>

								</div>
							</div>
							<div class="col-lg-4 col-md-12 col-12 wrapbox-right" id="form-booking-pro">
								<div class="wrapbox-detail">
									<div class="product-price" {% unless products_price_zero %}id="price-preview" {% endunless %}>
										{% unless products_price_zero %}
										<span class="pro-title">{{settings.prod_price_title}}: </span>
										<div class="pro-price">
											<div class="percent-price">
												<span class="price">{{ product.variants.first.price | money }}<span class="person">{{settings.prod_person_title}}</span></span>
												{% if product.variants.first.compare_at_price > product.price %}		
												<span class="pro-percent">-{{product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round : 0}}% Off</span>
												{%endif%}
											</div>
											{% if product.variants.first.compare_at_price > product.price %}		
											<del>{{ product.variants.first.compare_at_price | money }}<span class="person">{{settings.prod_person_title}}</span></del>
											{% endif %}
										</div>
										{% endunless%}
									</div>
									<div class="product-hrvpmo hrvpmo-minimum">
										<div class="hrv-pmo-coupon" data-hrvpmo-layout="minimum"></div>
										<div class="hrv-pmo-discount" data-hrvpmo-layout="minimum"></div>
									</div>
									{%- assign hide_default_title = false -%}
									{%- if product.variants.size == 1 and product.variants.first.title contains 'Default' and product.options.size == 1 -%}
									{%- assign hide_default_title = true -%}
									{%- endif -%}
									<div class="product-variants hidden {%if check_sizeguide and indsize > 0%}is-sizeguide{%endif%}" {% if hide_default_title %} style="display:none"{% endif %}>
										<form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">				
											<div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
												<select id="product-select" name="id" style="display:none;">
													{% for variant in product.variants %}
													<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="select-swatch clearfix">
												{% if product.available and product.variants.size > 1 %}
												{% for option in product.options %}
												{% include 'swatch' with option %}
												{% endfor %}
												{% endif %}
											</div>
										</form>
										{%-if check_sizeguide and indsize > 0 and product.variants.size > 1 -%}
										{%- unless hide_default_title -%}
										<div class="size-guide">
											<button type="button" class="btn-size-guide"><span>Hướng dẫn chọn size	</span></button>
										</div>
										{%- endunless -%}
										{%-endif-%}
									</div>
									{% if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuyxgety' %}
									<div class="product-buyxgety selector-buyxgety" id="detail-product">							
										<div id="buyxgety-program" class="d-none">
											<div class="buyxgety-heading">
												<h3>Các sản phẩm được tặng kèm</h3>						
												<p>Chọn 1 trong các loại quà tặng</p>
											</div>							
											<div id="buyxgety-product-list" data-id="{{product.id}}" data-title="{{product.title}}">
												<div class="buyxgety_content clearfix">									
													<div class="buyxgety_lists"></div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									{% if products_price_zero %}
									<div class="addcart-area">	
										<a href="{{settings.prod_pricezero_link}}"  class=" btn-product-contact button dark {{btnClassTrack}}" name="add"> 
											{{settings.prod_pricezero_title}}	
										</a>
									</div>
									{%else%}
									<div class="form-booking">
										<form id="formbooking" action="{{settings.gg_link_form}}" data-shop="{{shop.name}}">
											<div class="contact-form">
												<div class="row">
													<div class="col-sm-12 col-xs-12">
														<div class="input-group">
															<input required type="text" name="{{settings.gg_full_name}}" id="full_name" data-valid="full_name"  class="form-control" placeholder="{{settings.form_full_name}}" aria-describedby="basic-addon1">
														</div>
														<p class="full_name-validation field-error"></p>
													</div>
													<div class="col-sm-12 col-xs-12">
														<div class="input-group">
															<input pattern="[0-9]{10,12}" required type="text" name="{{settings.gg_phone}}" id="your_phone" data-valid="your_phone" class="form-control" placeholder="{{settings.form_phone}}" aria-describedby="basic-addon1">
														</div>
														<p class="your_phone-validation field-error"></p>
													</div>
													<div class="col-sm-12 col-xs-12">
														<div class="input-group">
															<input required type="text" name="{{settings.gg_email}}" id="your_email" data-valid="your_email" class="form-control" placeholder="{{settings.form_email}}" aria-describedby="basic-addon1">
														</div>
														<p class="your_email-validation field-error"></p>
													</div>
													<div class="col-sm-12 col-xs-12">
														<div class="pro-qty">
															<label>{{settings.form_qty}}:</label>
															<input type="number" id="quantity" name="{{settings.gg_qty}}" value="1" min="1" max="999" class="quantity-input" />
														</div>
														<p class="quantity-validation field-error"></p>
													</div>
													<input type="hidden" id="link_pro" name="{{settings.gg_pro_link}}" value="{{shop.url}}{{product.url}}"/>
												
													<div class="col-sm-12 col-xs-12">
														<div class="pro-total">
															<label>{{settings.form_total}}: </label>
															<div class="pro-num-total" data-price="{{ product.variants.first.price }}"> 
																{{ product.variants.first.price | money }}
															</div>
														</div>
													</div>
													<div class="col-sm-12 col-xs-12">
														<div class="addcart-area">						
															<button type="button" id="add-to-cart" {% unless product.available %}disabled{% endunless %}  class="{% unless product.available %}disabled{% endunless %} add-to-cartProduct button dark btn-addtocart addtocart-modal" name="add"> 
																{% if  product.available %}	{{settings.form_booking}} {% else %} Hết hàng {% endif %}
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
									{% endif%}
								</div>
							</div>
						</div>
						{%- if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appcombo' -%}
						<div class="productDetailjs productDetail--box box-detail-app mg-top" id="detail-product">
							<div class="product-app combo-info combo-info--vertical d-none">
								<h3 class="combo-info--title">THƯỜNG ĐƯỢC MUA CÙNG</h3>
							</div>
						</div>
						{%-endif-%}
					</div>
				</div>
			</div>
		</div>
	</section>
	{%- if settings.product_related_show -%}	<!-- related -->{% include 'listproduct-related' %}	{%- endif -%}
	{%- if settings.product_viewed_show-%}    <!-- viewed -->{%- include 'product-viewed'-%}{%- endif -%}
	<!-- genneral -->
	{%comment%}<div class="productDetail-linkcopy"><input class="linkToCopy" readonly="readonly" value="{{ shop.url }}{{ product.url }}" id="myInput"></div>{%endcomment%}
	{%- if settings.display_sidebar_bottom_product -%} {%- include 'sidebar-action-product' -%} {%- endif -%}
</div>

{%- include 'modal-preorder' -%}
{%- if check_sizeguide and indsize > 0 -%} {%-include 'modal-sizeguide' with ind: indsize -%} {%-endif-%}
<div class="d-none">{{ htmlPopover }}</div>
<div class="modal-coupon--backdrop"></div>

<!-- JS PRODUCT -->{% include 'template-product-script'%}



