{%layout none%}
{%paginate search.results by settings.collection_pagination_limit %}

<div id="pagination">
	{%- if paginate.pages > 1 -%}
	<ul class="pagination">
		{%- if paginate.previous -%}
		<li>
			<a href="javascript:;" data-link="m" title="{{ paginate.previous.title }}">
				<i class="fa fa-angle-double-left"></i>			
			</a>
		</li>
		{%- endif -%}
		{%- for part in paginate.parts -%}
		{%- if part.is_link -%}
		<li>
			<a  href="javascript:;" data-link="{{part.title}}">{{part.title}}</a>
		</li>
		{%- else -%}
		<li>
			<span class="{%if part.title == paginate.current_page%}current{%endif%}">
				{{part.title}}
			</span>
		</li>		
		{%- endif -%}
		{%- endfor -%}
		{%- if paginate.next -%}
		<li>
			<a href="javascript:;" data-link="p" title="{{ paginate.next.title }}">
				<i class="fa fa-angle-double-right"></i>			
			</a>
		</li>
		{%- endif -%}
	</ul>
	{%- endif -%}
</div>
{% endpaginate %}